body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
}
h1, h2 {
    text-align: center;
    color: #333;
}
.candidate {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.candidate-info {
    flex-grow: 1;
    margin-right: 10px;
}
.candidate button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
#results {
    display: none;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}
.action-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}
#resetButton {
    background-color: #f44336;
}
#countdown, #voteConfirmation {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}
#voteConfirmation {
    color: #4CAF50;
}